.profile {
    margin: 10px 25px;
}

.avatar {
    padding: 5px 15px;
    margin: 10px;
}

.ellipse {

    /* Ellipse 261 */
    box-sizing: border-box;
    position: absolute;
    width: 75px;
    height: 75px;

    margin: 0 0 0 17px ;

    /* Pallet 1 / Primary */
    border: 5px solid var(--color-text);
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* Rotate the circle */
    transform: rotate(45deg);


}

.avatar img {

    /* Ellipse 260 */
    box-sizing: border-box;

    width: 63px;
    height: 63px;

    border: 2px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    margin-top: 6px;
}

p {
    padding: 5px 7px;
    font-style: normal;
    text-align: center;
}

.name {

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.position {

    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-subtext);
}