
.sidebar-list-item {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-right: 15px;
    cursor: pointer;
    padding: 10px 0 10px 5px;
    display: flex;
}

.sidebar-list-item-icon {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 5px;

}